<h1>グループ一覧</h1>

<div class="text-end mb-3">
    <%= link_to '新規グループ作成', new_admin_group_path, class: 'btn btn-primary' %>
  </div>
<div class="table-responsive">
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>グループ名</th>
        <th>作成者</th>
        <th>作成日</th>
        <th>アクション</th>
      </tr>
    </thead>
    <tbody>
      <% @groups.each do |group| %>
        <tr>
          <td><%= group.id %></td>
          <td><%= group.group_name %></td>
          <td><%= group.user.name %></td>
          <td><%= group.created_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
          <td>
            <%= link_to '詳細', admin_group_path(group), class: 'btn btn-info btn-sm' %>
            <%= link_to '編集', edit_admin_group_path(group), class: 'btn btn-warning btn-sm' %>
            <%= link_to '削除', admin_group_path(group), method: :delete, data: { confirm: '本当に削除しますか？' }, class: 'btn btn-danger btn-sm' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
